In [1]:
import pandas as pd
import statsmodels.api as sm
df = pd.read_csv("../data/NLSY.csv")
print(df.memory_usage().sum())
print(df.head())
#convert object types to numeric. Cant run regression on object types. Plus they take up too much space
print(df.dtypes)
print(type(df.dtypes))

319632
   R0000100  PCS2000 CESD2000Total CESDTotal2000cutpt  MCS2000  RelAt2000cat6  \
0      2833      NaN             0                  2      NaN              2
1      3188      NaN                                       NaN              4
2      5744      NaN                                       NaN              5
3      6260      NaN                                       NaN              1
4      8109      NaN             8                  1      NaN              2

  RelAt2000cat2  Gender  Race3 Marital2000c5  Education2000  Education2000c4  \
0             1       2      3             4             12                3
1             1       1      2             5             12                3
2             1       1      1             4             14                2
3             1       2      2             4             13                2
4             1       1      1             2             11                3

   NumberBioStepAdoptChildHH2000  BioChildHH2000c2  \
0                              3                 1
1                              1                 1
2                              3                 1
3                              1                 1
4                              3                 1

  WorkTimeHrsperWkPastCalYr2000cat4  UnemplyWksPastCal2000c  \
0                                 1                       4
1                                                         4
2                                 2                       4
3                                 2                       4
4                                 4                       4

   UnemployedWksPastCal2000cont  IncomePercNetFam2000c  PovertyStatus2000c2
0                             0                      1                    1
1                             0                      1                    1
2                             0                      1                    1
3                             0                      1                    1
4                             0                      1                    1
R0000100                               int64
PCS2000                              float64
CESD2000Total                         object
CESDTotal2000cutpt                    object
MCS2000                              float64
RelAt2000cat6                          int64
RelAt2000cat2                         object
Gender                                 int64
Race3                                  int64
Marital2000c5                         object
Education2000                          int64
Education2000c4                        int64
NumberBioStepAdoptChildHH2000          int64
BioChildHH2000c2                       int64
WorkTimeHrsperWkPastCalYr2000cat4     object
UnemplyWksPastCal2000c                 int64
UnemployedWksPastCal2000cont           int64
IncomePercNetFam2000c                  int64
PovertyStatus2000c2                    int64
dtype: object
<class 'pandas.core.series.Series'>

In [2]:
#this doesnt work
df_skip_header = pd.read_csv("../data/NLSY.csv", header=None)z
print(df_skip_header.dtypes)
df_skip_13 = pd.read_csv("../data/NLSY.csv", skiprows=13)
print(df_skip_13.dtypes)
#skip rows and headers doesnt fix anything when it sees blanks or NA

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1030319582.py, line 2)

In [3]:
# what doesnt work
pd.to_numeric(df)

TypeError: arg must be a list, tuple, 1-d array, or Series

In [4]:
print("before na drop:",df.shape)
df.dropna(inplace=True)
print("after na drop:",df.shape)

df_numeric = df.convert_dtypes()



#print(df_numeric.head())
print("num blank space:",(df_numeric['CESD2000Total'].values == ' ').sum() ) 
#gee one blank space at row 311
print("row with blank space:")
df_numeric[df_numeric['CESD2000Total'].values == ' ']

before na drop: (2102, 19)
after na drop: (2089, 19)
num blank space: 1
row with blank space:

,R0000100,PCS2000,CESD2000Total,CESDTotal2000cutpt,MCS2000,RelAt2000cat6,RelAt2000cat2,Gender,Race3,Marital2000c5,Education2000,Education2000c4,NumberBioStepAdoptChildHH2000,BioChildHH2000c2,WorkTimeHrsperWkPastCalYr2000cat4,UnemplyWksPastCal2000c,UnemployedWksPastCal2000cont,IncomePercNetFam2000c,PovertyStatus2000c2
311,3980,5488,,,4482,6,2,2,3,4,16,2,0,2,1,4,0,1,1

In [5]:
#print("num null:",df_numeric.isnull().sum())


print("num rows with length 1 string in dataframe:",(df.values==' ').sum())
print("rows with blank space:")
df_numeric[df_numeric.values == ' ']
#do we drop these or make these 0?

num rows with length 1 string in dataframe: 17
rows with blank space:

,R0000100,PCS2000,CESD2000Total,CESDTotal2000cutpt,MCS2000,RelAt2000cat6,RelAt2000cat2,Gender,Race3,Marital2000c5,Education2000,Education2000c4,NumberBioStepAdoptChildHH2000,BioChildHH2000c2,WorkTimeHrsperWkPastCalYr2000cat4,UnemplyWksPastCal2000c,UnemployedWksPastCal2000cont,IncomePercNetFam2000c,PovertyStatus2000c2
36,4383,4309,19,1,2157,2,1,1,3,2,15,2,1,1,,4,0,4,3
311,3980,5488,,,4482,6,2,2,3,4,16,2,0,2,1,4,0,1,1
311,3980,5488,,,4482,6,2,2,3,4,16,2,0,2,1,4,0,1,1
342,3799,5876,8,1,4593,1,1,1,3,4,16,2,2,1,,4,0,4,3
402,984,5660,2,2,4760,4,1,2,3,4,16,2,2,1,,3,1,1,1
585,7455,5139,6,1,5110,-2,,1,2,4,8,4,5,1,4,4,0,1,1
822,839,5853,5,2,5353,4,1,1,2,4,15,2,1,1,,4,0,4,3
829,1988,4878,0,2,5355,4,1,2,3,4,12,3,0,2,,4,0,3,3
1001,3138,5651,6,1,5520,4,1,2,3,4,12,3,2,1,,4,0,1,1
1350,5881,5550,3,2,5783,4,1,2,1,4,12,3,3,1,,4,0,1,1
1505,712,5682,1,2,5789,2,1,1,3,4,13,2,2,1,,4,0,3,3
1519,2464,5682,0,2,5789,-1,,2,3,4,13,2,1,1,2,4,0,6,3
1586,793,5380,0,2,5792,4,1,2,3,5,16,2,0,2,,4,0,5,3
1638,5703,5168,3,2,5864,-1,,2,3,4,14,2,2,1,1,4,0,5,3
1691,11965,5724,0,2,5881,6,2,2,3,,18,1,0,2,1,4,0,1,1
1877,9517,5526,0,2,6070,1,1,1,1,2,12,3,1,1,,4,0,1,1
2005,85,5355,0,2,6079,1,1,2,2,5,11,3,0,1,,4,0,1,1

In [6]:
print("before removing blanks:",df_numeric.shape)
print("shape of df with blanks",df_numeric[df_numeric.values == ' '].shape)
df_numeric.drop(df_numeric[df_numeric.values == ' '].index,inplace=True)

before removing blanks: (2089, 19)
shape of df with blanks (17, 19)

In [7]:
#verify 17 rows removed
df_numeric.shape

(2073, 19)

In [8]:
#verify no more object types
df_numeric.dtypes

R0000100                              Int64
PCS2000                               Int64
CESD2000Total                        string
CESDTotal2000cutpt                   string
MCS2000                               Int64
RelAt2000cat6                         Int64
RelAt2000cat2                        string
Gender                                Int64
Race3                                 Int64
Marital2000c5                        string
Education2000                         Int64
Education2000c4                       Int64
NumberBioStepAdoptChildHH2000         Int64
BioChildHH2000c2                      Int64
WorkTimeHrsperWkPastCalYr2000cat4    string
UnemplyWksPastCal2000c                Int64
UnemployedWksPastCal2000cont          Int64
IncomePercNetFam2000c                 Int64
PovertyStatus2000c2                   Int64
dtype: object

In [9]:
df["CESD2000Total"]=df["CESD2000Total"].astype("category")
df["CESDTotal2000cutpt"]=df["CESDTotal2000cutpt"].astype("category")
df["RelAt2000cat2"]=df["RelAt2000cat2"].astype("category")
df["Marital2000c5"]=df["Marital2000c5"].astype("category")
df["WorkTimeHrsperWkPastCalYr2000cat4"]=df["WorkTimeHrsperWkPastCalYr2000cat4"].astype("category")
print(df.dtypes)
print(df.memory_usage().sum())

R0000100                                int64
PCS2000                               float64
CESD2000Total                        category
CESDTotal2000cutpt                   category
MCS2000                               float64
RelAt2000cat6                           int64
RelAt2000cat2                        category
Gender                                  int64
Race3                                   int64
Marital2000c5                        category
Education2000                           int64
Education2000c4                         int64
NumberBioStepAdoptChildHH2000           int64
BioChildHH2000c2                        int64
WorkTimeHrsperWkPastCalYr2000cat4    category
UnemplyWksPastCal2000c                  int64
UnemployedWksPastCal2000cont            int64
IncomePercNetFam2000c                   int64
PovertyStatus2000c2                     int64
dtype: object
328649

In [17]:
df.head()

,R0000100,PCS2000,CESD2000Total,CESDTotal2000cutpt,MCS2000,RelAt2000cat6,RelAt2000cat2,Gender,Race3,Marital2000c5,Education2000,Education2000c4,NumberBioStepAdoptChildHH2000,BioChildHH2000c2,WorkTimeHrsperWkPastCalYr2000cat4,UnemplyWksPastCal2000c,UnemployedWksPastCal2000cont,IncomePercNetFam2000c,PovertyStatus2000c2
13,242,6663.0,8,1,760.0,2,1,1,3,4,12,3,1,1,1,4,0,1,1
14,9320,6592.0,12,1,951.0,6,2,1,2,5,14,2,0,2,2,2,4,5,3
15,2886,6437.0,12,1,1026.0,4,1,1,2,3,13,2,3,1,2,4,0,5,3
16,9672,6464.0,19,1,1074.0,2,1,1,2,4,16,2,0,1,4,4,0,1,1
17,12588,6543.0,18,1,1298.0,5,1,1,2,5,12,3,0,2,1,4,0,5,3

In [10]:


x = df['MCS2000']
x = sm.add_constant(x)
y = df['PCS2000']

model = sm.OLS(y,x).fit()
print(type(model))
print(model.summary())

<class 'statsmodels.regression.linear_model.RegressionResultsWrapper'>
                            OLS Regression Results
==============================================================================
Dep. Variable:                PCS2000   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     38.75
Date:                Wed, 05 Apr 2023   Prob (F-statistic):           5.81e-10
Time:                        15:53:51   Log-Likelihood:                -16990.
No. Observations:                2089   AIC:                         3.398e+04
Df Residuals:                    2087   BIC:                         3.400e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4513.7705    110.530     40.837      0.000    4297.009    4730.532
MCS2000        0.1286      0.021      6.225      0.000       0.088       0.169
==============================================================================
Omnibus:                      795.243   Durbin-Watson:                   1.371
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2770.648
Skew:                          -1.913   Prob(JB):                         0.00
Kurtosis:                       7.146   Cond. No.                     3.28e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.28e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
df['MCS2000'].to_csv("MCS2000.csv",index=False,header=False,sep=',')
df['PCS2000'].to_csv("PCS2000.csv",index=False,header=False,sep=',')

In [21]:
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df['CESD2000Total'])
 
# printing label
label
df['CESD2000Total'] = label
df.dtypes

R0000100                                int64
PCS2000                               float64
CESD2000Total                           int64
CESDTotal2000cutpt                   category
MCS2000                               float64
RelAt2000cat6                           int64
RelAt2000cat2                        category
Gender                                  int64
Race3                                   int64
Marital2000c5                        category
Education2000                           int64
Education2000c4                         int64
NumberBioStepAdoptChildHH2000           int64
BioChildHH2000c2                        int64
WorkTimeHrsperWkPastCalYr2000cat4    category
UnemplyWksPastCal2000c                  int64
UnemployedWksPastCal2000cont            int64
IncomePercNetFam2000c                   int64
PovertyStatus2000c2                     int64
dtype: object

In [22]:
#test R results vs. python statsmodels
#tricky you cant use categorical in regression,need int64. 
#different than R
depression_score  = sm.add_constant(df['CESD2000Total'])
model = sm.OLS(df['PCS2000'],depression_score).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                PCS2000   R-squared:                       0.024
Model:                            OLS   Adj. R-squared:                  0.023
Method:                 Least Squares   F-statistic:                     50.29
Date:                Thu, 06 Apr 2023   Prob (F-statistic):           1.80e-12
Time:                        10:02:21   Log-Likelihood:                -16984.
No. Observations:                2089   AIC:                         3.397e+04
Df Residuals:                    2087   BIC:                         3.398e+04
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          5337.1248     27.184    196.334      0.000    5283.814    5390.435
CESD2000Total   -16.6983      2.355     -7.092      0.000     -21.316     -12.081
==============================================================================
Omnibus:                      848.409   Durbin-Watson:                   1.400
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3076.257
Skew:                          -2.043   Prob(JB):                         0.00
Kurtosis:                       7.318   Cond. No.                         17.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""